// Tablets
@media (max-width: 768px) {
  #about {
    .content {
      img {
        height: 150px;
        width: 150px;
      }

      h1 {
        padding-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  #hobby {
    h2 {
      margin-left: 30vw;
    }

    .hobbies {
      ul {
        margin-left: 8vw;
      }
    }
  }

  #skills {
    .head {
      h2 {
        font-size: 2.5rem;
      }

      .skillset {
        .skill {
          width: 80%;
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 550px) {
  #about {
    .content {
      padding-top: 2rem;

      img {
        height: 150px;
        width: 150px;
      }

      h1 {
        font-size: 3rem;
      }
    }
  }

  #hobby {
    h2 {
      font-size: 2.5rem;
    }

    .hobbies {
      grid-gap: 0.7rem;

      img {
        height: 80px;
        width: 120px;
      }

      ul {
        li {
          font-size: 1rem;
        }
      }
    }
  }

  #skills {
    .head {
      .skillset {
        .skill {
          margin-left: 10vw;
          height: 15vh;

          img {
            display: none;
          }

          h3 {
            font-size: 1.5rem;
          }

          .stars {
            i {
              font-size: 1.75rem;
            }
          }
        }
      }
    }
  }

  #contact {
    .contact-form {
      .form-wrap {
        margin-left: 5vw;

        grid-template-areas:
          "name"
          "email"
          "phone"
          "subject"
          "message";

        input {
          width: 94%;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  #contact {
    .footer {
      .details {
        .detail {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  #about {
    .content {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 400px) {
  #hobby {
    h2 {
      margin-left: 20vw;
      margin-top: 4rem;
    }

    .hobbies {
      img {
        display: none;
      }

      ul {
        li {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #about {
    .content {
      p {
        font-size: 1.35rem;
      }
    }
  }
}
